* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

/* primary styles  */

.primary-font {
    font-weight: 700;
    font-size: 45px;
    color: #151414;
}

.secondary-font {
    line-height: 26px;
    font-weight: 400;
    font-size: 18px;
    color: #444343;
}

.btn-primary {
    background-color: #f15618;
    padding: 20px 26px;
    font-size: 20px;
    font-weight: 600;
    color: #ffffff;
    border: none;
    border-radius: 8px;
}
.btn-primary:hover {
    cursor: pointer;
}

/* Banner styles start */

.banner {
    background-image: url('../images/banner/banner1.png');
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

.banner-content {
    margin-left: auto;
    margin-right: 200px;
    max-width: 500px;
    text-align: right;
}

.banner-title {
    font-size: 65px;
}

.banner-description {
    margin: 35px 0;
}

/* Banner styles end */

/* Failure styles start  */

.failure {
    margin: 130px 0;
    display: flex;
    gap: 80px;
    justify-content: center;
    align-items: center;
}

.failure-details, .working-details {
    max-width: 450px;
}

.failure-title, .working-title {
    font-size: 45px;
}

.failure-description, .working-description {
    margin-top: 29px;
    margin-bottom: 20px;
}

/* Failure styles start  */

/* My plan styles start */

.plan {
    margin: 0 230px;
}

.my-plan-title {
    text-align: center;
    margin-bottom: 50px;
}

.plan-details {
    display: flex;
    gap: 60px;
}

.plan-items {
    flex: 1;
    text-align: center;
}

.plan-items img {
    width: 95px;
}

.plan-title {
    font-size: 22px;
    margin: 19px 0;
}

/* My plan styles end */

/* Working styles start  */

.working {
    margin: 130px 0;
}
.working-on-title {
    text-align: center;
    margin-bottom: 60px;
}
.working-items {
    display: flex;
    gap: 80px;
    justify-content: center;
    align-items: center;
}


/* Working styles end  */

/* Mindset section styles start */

.mindset {
    margin: 130px 230px;
    padding: 100px 30px;
    background: linear-gradient(90deg, #f15618 0%, rgba(241, 91, 34, 0) 80%), url('../images/watch.png');
    background-blend-mode: normal;
    /* background-image: url('../images/watch.png'); */
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
}
.mindset-title {
    width: 470px;
    font-size: 40px;
    margin-bottom: 24px;
    color: #ffffff;
}
.call-btn {
    background-color: #ffffff;
    color: #f15618;
}

/* Mindset section styles  end */

/* footer styles start  */

footer {
    display: flex;
    gap: 200px;
    background-color: #151414;
    padding: 100px 230px;
}

.footer-item {
    flex: 1;
}

footer .future {
    color: #ffffff;
    font-size: 40px;
    margin-bottom: 20px;
}

footer .email {
    color: #ffffff;
    margin-top: 22px;
    margin-bottom: 14px;
    font-weight: lighter;
    font-size: 16px;
}

footer .mobile, .future-description {
    color: #ffffff;
    font-weight: lighter;
    font-size: 16px;
}

footer img {
    margin-top: 25px;
    padding-right: 18px;
}

footer .subscribe {
    color: #ffffff;
    font-weight: 500;
    font-size: 38px;
}

footer input {
    width: 80%;
    margin: 25px 0;
    padding: 20px 14px;
    font-size: 15px;
    border: 1px solid #ffffff;
    background-color: #151414;
    border-radius: 6px;
    color: #ffffff;
}

footer input::placeholder {
    color: #ffffff;
}

.subscribe-btn {
    color: #f15618;
    background-color: #fff;
}

/* footer styles end */